<div class="answer">
  <p class="right"><button {{action 'dislikeAnswer' answer}} class="like-btn"><i class="fa fa-thumbs-o-down" aria-hidden="true"></i></button>{{answer.dislike}}</p>
  <p class="right">{{answer.like}}<button {{action 'likeAnswer' answer}} class="like-btn"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></button></p>
  <p class="user">{{answer.user}} posted {{moment-from-now answer.date}}</p>
  <p class="reply">{{answer.reply}}</p>
</div>
